.env
*.pyc
__pycache__/
.pytest_cache/
data/storage/
models/saved/
logs/
backtest/equity_curve.csv
notebooks/.ipynb_checkpoints/
.venv/
*.pkl
*.pt

# Trash / Scratch files
backtest/*.csv
backtest/*.pdf
weak_coins_*.csv
debug*.txt
recalc.py
get_list.py
check_volume.py
